.header {
    display: flex;
    justify-content: space-between;
    background-color: #333;
    padding: 2em;
    color: #efefef;
    align-items: center;
}

.header img {
    width: 150px;
    margin: 0px 2em;
}

.header h1 {
    font-size: 4em;
    text-align: center;
}

.logo {
    background-color: white;
    padding: 1em;
    border-radius: 20%;
}