.btn {
    background-color: #222;
    color: #fff;
    padding: 0.7em 1.2em;
    text-decoration: none;
    transition: .5s;
    cursor: pointer;
    border: none;
    height: 50px;
    margin-left: 0.3em;
    width: 70em;
}

.btn:hover {
    color: #e7d9b4  
}